body{
  padding-top:80px;
  word-wrap:break-word;
  background-color: darkred;
  font-size: 25px;
  margin-left: 3em;
}
img{
  height: 200px;
}
select{
  width: 8%;
  height: 1.5em;
  border-radius: 10px;
}
input{
  width: 15%;
  height: 1.5em;
  border-radius: 10px;
}
#submit{
  width: 8%;
  height: 1.5em;
  border-radius: 10px;
  margin-top: 3em;
  margin-left: 4em
}
h1{
  text-align: center;
  font-size: 3.5em
}
.log{
  margin-top: 10em
}
